.ij_wrap {
overflow:auto;
overflow-x:hidden;
overflow-y:auto;
}

.ij_wrap a, .ij_wrap a:hover {
text-decoration:none;
}

.ij_table {
font-family:sans-serif;
font-size:12px;
border-collapse:collapse;
width:100%;
}

.ij_date {
background:#fff;
}

.ij_date th {
text-align:left;
padding:14px 4px 4px 4px;
font-size:13px;
}

.ij_row_a, .ij_row_b {
border-top:1px solid #ccf;
border-bottom:1px solid #ccf;
}

.ij_row_a {
}

.ij_row_b {
}

.ij_cal01 {
background:#f4f4ff;
}
.ij_cal01 .ij_text:before {
content:"";
padding-right:0;
color:#449;
font-size:10px;
}

.ij_cal02 {
background:#f4fff4;
}
.ij_cal02 .ij_text:before {
content:"";
padding-right:0;
color:#494;
font-size:10px;
}

.ij_cal03 {
background:#fff4f4;
}
.ij_cal03 .ij_text:before {
content:"";
padding-right:0;
color:#944;
font-size:10px;
}

.ij_cal04 {
background:#f4f4f4;
}

.ij_cal05 {
background:#ffffe0;
}

.ij_time, .ij_desc {
line-height:16px;
padding-top:3px;
}

.ij_time {
min-width:70px;
width:70px;
text-align:right;
padding-right:6px;
color:#666;
}

.ij_time div {
}

.ij_desc a {
display:block;
width:194px;
height:16px;
overflow:hidden;
cursor:pointer;
text-decoration:none;
color:#000;
outline:none;
padding-left:6px;
}

.ij_desc a:hover {
padding-left:4px;
border-left:2px solid #ccf;
color:#000;
}

.ij_desc span {
display:block;
}

.ij_text {
}

.ij_loc {
margin-top:6px;
font-size:11px;
color:#060;
}

.ij_credit {
text-align:center;
padding:12px 0 4px 0;
background:#fff;
font-size:9px;
color:#777;
}

.ij_credit a, .ij_credit a:hover {
color:#447;
font-weight:bold;
}