<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>OpenTechSchool – {{ page.title }}</title>
  <meta name="description" content="OpenTechSchool is a community initiative to provide programming and other tech-related workshops to women and their friends. We take care of the organizational side of things (venues, press, finding participants) and let our volunteer coaches to create the curriculum according to their vision. Our main goal is to create a friendly and safe learning environment where no one feels shy about asking any question. Everyone, no matter what their gender, skill level or experience, is invited to participate, whether as a coach or a learner">
  <meta name="author" content="OpenTechSchool">
  <link rel="icon" href="/favicon.ico" type="image/png">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->


  <link rel="stylesheet" href="stylesheets/style.css?v=2">
  <link rel="stylesheet" href="/stylesheets/grid.css" media="screen"/>
  <link rel="stylesheet" href="/stylesheets/mobile.css" media="handheld, only screen and (max-device-width:640px)"/>
  <link rel="stylesheet" href="/stylesheets/calendar.css" media="screen"/>

  <!-- end CSS-->

  <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
  <script type="text/javascript" src="js/css3-mediaqueries.js"></script>


</head>

<body>

  <header class="site_header">
    <div class="container">
      <div class="row">
        <div class="eightcol">
          <h1>
            OpenTechSchool
            <i>Berlin</i>
          </h1>
          <h2>Bringing free tech workshops to women and their friends</h2>

        </div>
        <div class="fourcol last">
          <div id="socialshare">
            <div id="socialshareprivacy"></div>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="site_header full_bg">
    <div class="container">
      <div class="row">

        <h1>full width img goes here</h1>

      </div>
    </div>
  </div>



  <div class="container">
    {{ content }}
  </div>

  <footer class="full_bg">
    <div class="container">
      <div class="row">
        <p>
          © 2011-2012 by <a href="http://www.opentechschool.org">OpenTechSchool</a>&nbsp;&nbsp;||&nbsp;&nbsp;Picture by <a href="http://www.flickr.com/photos/lapetiteclaudine/48410895/">La Petit Claudine</a> on Flickr
        </p>
      </div>
    </div>
  </footer>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <script src="js/supersized.3.1.3.min.js"></script>
  <script src="js/jquery.socialshareprivacy.min.js"></script>
  <script type="text/javascript">
    $(function() {
      slideshow_interval = 0;
      $.supersized({
          slides: [{'image': 'images/it_uni_copen_2.jpg'}]
      });
      $('#socialshareprivacy').socialSharePrivacy({
          services: {
              facebook: {
                  dummy_img : 'images/socialshareprivacy/dummy_facebook_en.png',
                  txt_info: '2-Click-Privacy-Protection-System: Only when you click here, will the sharing be activated and data send to Facebook. Click a second time to share this Page on Facebook.',
                  language: 'en_US'
              },
              twitter : {
                txt_info: 'Tweet this link',
                  txt_info: '2-Click-Privacy-Protection-System: Only when you click here, will the sharing be activated and data send to Twitter. Click a second time to share this Page on Twitter.',
              },
              gplus: {
                txt_info: '2-Click-Privacy-Protection-System: Only when you click here, will the sharing be activated and data send to Google. Click a second time to share this Page on Google+',
                language: 'en'
              }
            }
        });
      });
  </script>
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33344154-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>

